{% if user.is_authenticated %}
    <form action="{% url 'blog:favourite_post' %}" method="POST">
        {% csrf_token %}
        {% if is_favourite %}
            <button type="submit" id="fav" name="post_id" value="{{ post.id }}" class="btn btn-md btn-outline-primary"><i class="fas fa-heart fa-lg"></i></button>
        {% else %}
            <button type="submit" id="fav" name="post_id" value="{{ post.id }}" class="btn btn-md btn-outline-primary"><i class="fas fa-heart-broken fa-lg"></i></button>
        {% endif %}
    </form>
{% endif %}