{{ total_likes }} Like{{ total_likes|pluralize }} 
    {% if request.user.is_authenticated %}
        <form action="{% url 'blog:like_post' %}" method="POST">
            {% csrf_token %}
            {% if is_liked %}
                <button type="submit" id="like"name="post_id" value="{{ post.id }}" class="btn btn-primary "><i class="fas fa-thumbs-down"></i></button>
            {% else %}
                <button type="submit" id="like" name="post_id" value="{{ post.id }}" class="btn btn-primary "><i class="fas fa-thumbs-up"></i></button>
            {% endif %}
        </form>
    {% endif %}