<nav aria-label="Page navigation example" >    
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
            <li class="page-item">
                <a href="?page=1" class="page-link active"> first </a>
            </li>
            <li class="page-item">
                <a href="?page={{ posts.previous_page_number }}" class="page-link active"> &laquo;</a>
            </li>
        {% endif %}
            <li class="page-item mt-2 mr-2 ml-2 text-strong text-primary">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            </li>
        {% if posts.has_next %}
            <li class="page-item">
                <a href="?page={{ posts.next_page_number }}" class="page-link active">&raquo;</a>
            </li>
            <li class="page-item">
                <a href="?page={{ posts.paginator.num_pages }}" class="page-link">last</a>
            </li>
        {% endif %}
    </ul>
</nav>