{% extends 'base_layout.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ post.title }} | {{ block.super }}
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
<div class="d-flex flex-column">
    <img src="{{ post.cover_photo.url }}" alt="Image Not Found" class="img-thumbnail mx-auto" width="40%"/>
    <h2 class="d-flex justify-content-center text-weight-bold">{{ post.title }}</h2>
    {% if post.category == 'tech' %}
        <h4 class="d-flex justify-content-start">
            <a href="{% url 'blog:tech_post_list' %}" class="text-weight-bolder text-primary">
                {{ post.category|capfirst }}
            </a>
        </h4>
    {% endif %}
    {% if post.category == 'entertainment' %}
        <h4 class="d-flex justify-content-start">
            <a href="{% url 'blog:ent_post_list' %}" class="text-weight-bolder text-success">
                {{ post.category|capfirst }}
            </a>
        </h4>
    {% endif %}
    {% if post.category == 'news' %}
        <h4 class="d-flex justify-content-start">
            <a href="{% url 'blog:news_post_list' %}" class="text-weight-bolder text-danger">
                {{ post.category|capfirst }}
            </a>
        </h4>
    {% endif %}
</div>
    <hr>
<div class="blog-post">
    <p class="blog-post-meta">{{ post.created }} by <a href="#">{{ post.author }}</a></p>

    <hr>
    <div class="d-flex flex-row justify-content-center gallery">
        {% for post_img in post.image_set.all %}
            <div class="">
                <img src="{{ post_img.image.url }}" alt="Image Not Found" class="img-thumbnail"/>
            </div>
        {% endfor %}
    </div>
    <br><br>
    <hr>
    <p>{{ post.body }}</p>
    <hr>
    {% if post.author == request.user %}
        <div class="section-1" style="float:right">
            <a href="{% url 'blog:post_edit' pk=post.id slug=post.slug %}">
                <button type="button" class="btn btn-outline-info">Edit</button>
            </a>

            <a href="{% url 'blog:post_delete' pk=post.id slug=post.slug %}" id="delete">
                <button type="button" class="btn btn-danger">Delete</button>
            </a>
        </div>
    {% endif %}
    <div class="d-flex flex-row">
        <div id="like-section">
            {% include 'blog/like_section.html' %}
        </div>
    
        <div id="favourite-section" class="pt-4 px-4">
            {% include 'blog/fav_section.html' %}
        </div>
            
    </div>
    
    {% if not post.restrict_comments %}
        <div class="main-comment-section">
            {% include 'blog/comments.html' %}
        </div>
    {% endif %}
</div>
{% endblock %}