<footer class="footer text-white">
    <div class="row">
        <div class="col-md-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia nisl sit amet mauris mattis commodo. Praesent ut venenatis ligula. Etiam vitae quam pharetra, molestie odio id, consectetur lorem.
            </p>
        </div>
        <div class="col-md-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia nisl sit amet mauris mattis commodo. Praesent ut venenatis ligula. Etiam vitae quam pharetra, molestie odio id, consectetur lorem.
            </p>
        </div>
        <div class="col-md-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia nisl sit amet mauris mattis commodo. Praesent ut venenatis ligula. Etiam vitae quam pharetra, molestie odio id, consectetur lorem.
            </p>
        </div>
    </div>
</footer>