<footer class="footer text-white">
    <a href="#" class="d-flex justify-content-end text-decoration-none px-5">Back to Top</a>
    <div class="container-fluid">
        <div class="row">
            <div class="col col-md-4">
                <p>
                    Lorem 1ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia nisl sit amet mauris mattis commodo. Praesent ut venenatis ligula. Etiam vitae quam pharetra, molestie odio id, consectetur lorem.
                </p>
            </div>
            <div class="col col-md-4">
                <p>
                    Lorem 2ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia nisl sit amet mauris mattis commodo. Praesent ut venenatis ligula. Etiam vitae quam pharetra, molestie odio id, consectetur lorem.
                </p>
            </div>
            <div class="col col-md-4">
                <p>
                    Lorem3 ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia nisl sit amet mauris mattis commodo. Praesent ut venenatis ligula. Etiam vitae quam pharetra, molestie odio id, consectetur lorem.
                </p>
            </div>
        </div>
    </div>
<p class="d-flex justify-content-center text-danger">Developed by:<a href="#" class="px-2">Sosanya Olumide Dickson</a></p>
</footer>
