
<!-- <div class="container-fluid bg-primary shadow-lg sticky-top mb-2">
    <div class="container">
            <nav class="navbar row">
                <div class="col-12 col-sm-4 mx-auto mx-sm-0">
                    <h5 class="font-weight-normal"></h5>
                </div>
                <div class="col-12 col-sm-6 justify-content-right">
                    
                </div>
                <div class="col col-sm-2">
                    
                </div>
                
            </nav>
        </div>
    </div>
</div> -->

<header class="blog-header container-fluid bg-light">
    <div class="row flex-nowrap justify-content-between align-items-center">
        {% if user.is_authenticated %}
        <div class="col-4 pt-1">
            <button class="btn btn-sm btn-outline-primary ml-2">
                <a href="{% url 'user_logout' %}" style="text-decoration: none">Logout <i class="fas fa-sign-out-alt"></i></a>
            </button> 
        </div>
        {% else %}
        <div class="col-4 pt-1">
            <button class="btn btn-sm btn-outline-primary ml-2">
                <a href="{% url 'user_login' %}" style="text-decoration: none">Login <i class="fas fa-sign-in-alt"></i></a>
            </button> 
        </div>
        {% endif %}
        <div class="col-4 text-center">
            <a class="blog-header-logo text-primary text-weight-bold text-decoration-none" href="{% url 'blog:post_list' %}">Tell It!</a>
        </div>
        <form class="form-inline col-4 d-flex justify-content-end my-lg-0" action="{% url 'blog:post_list' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-sm btn-outline-primary" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
</header>

<ul class="nav justify-content-center sticky-top bg-light shadow-lg mb-2">
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'blog:news_post_list' %}">News</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:ent_post_list' %}">Entertainment</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:tech_post_list' %}">Technology</a>
    </li>
    {% if user.is_authenticated %}
    <li class="dropdown nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ request.user.profile.photo.url }}" alt="" class="navbar-img">
            <span class="h">Hi {{ request.user|capfirst }}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'blog:user_profile' %}">My Profile <i class="fas fa-address-card" style="color: blue;"></i></a>
            <a class="dropdown-item" href="{% url 'blog:post_create' %}">Create A Post <i class="fas fa-plus" style="color: blue;"></i></a>
            <a class="dropdown-item" href="{% url 'blog:favourite_post_list' %}">My Favourite Posts <i class="fas fa-star" style="color: blue;"></i></a>
        </div>
    </li>
    {% else %}
    <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:user_register' %}">Register <i class="fas fa-user-plus"></i></a>
    </li>
    {% endif %}
</ul>